.todo {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  justify-content: space-between;
}

.todo div.group {
  display: flex;
}

.todo p,
.todo input {
  margin: 0;
  padding: 8px 20px;
  text-align: left;
}

.todo input[type='checkbox'] {
  top: 12px;
  left: 3px;
  position: relative;
  -webkit-appearance: none;
  line-height: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  outline: none;
}

.todo input[type='checkbox']:focus:before {
  outline: 5px auto -webkit-focus-ring-color;
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid;
  top: -1px;
  left: -1px;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 5px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  top: 4px;
  left: 3px;
  transform: rotate(-46deg);
  opacity: 0;
}

input[type='checkbox']:checked:after {
  opacity: 1;
}

.removeBtn {
  -webkit-appearance: none;
  border: none;
  min-width: 25px;
  height: max-content;
  top: 10px;
  position: relative;
  padding: 5px 7px;
  border-radius: 2px;
}
