body {
	font-family: 'Roboto', sans-serif;
	color: gainsboro;
	background-color: #121f26;
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.strike-through {
	text-decoration: line-through;
}
.to-do-items {
	display: flex;
	width: 100%;
	justify-content: center;
}
.to-do-items-2 {
	display: flex;
	width: 50%;
	justify-content: start;
	padding: 0.25em;
}
.to-do-input {
	width: 90%;
	font-size: 1.5em;
	margin-top: 1.5em;
	padding: 0.5em;
	cursor: pointer;
	align-self: center;
}
h1 {
	font-size: 2.4em;
	text-decoration-line: underline;
	padding: 0.3em;
	display: inline-block;
}
.to-do-items-2 > input {
	width: 2em;
	height: 2em;
	margin-top: 0.8em;
	margin-right: 1.5em;
	cursor: pointer;
}
.to-do-items-2 > label {
	font-size: 2.1em;
}
.delete-todo-button {
	cursor: pointer;
	margin-left: 1.5em;
	height: 1.2em;
	width: 1.2em;
	font-size: 1.7em;
	font-weight: 500;
	border: none;
	line-height: 1.8;
	color: gainsboro;
	background-color: #121f26;
}
.fas {
	font-size: 3em;
}
