body {
	background-color: #d3d3d3;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.strike-through {
	text-decoration: line-through;
}
.to-do-items {
	display: flex;
	width: 100%;
	justify-content: center;
}
.to-do-input {
	width: 90%;
	font-size: 2em;
	margin-top: 1em;
	padding: 0.5em;
}
h1 {
	font-size: 2.5em;
	border-bottom: 0.05em solid black;
	padding: 0.3em;
	display: inline-block;
}
.to-do-items > input {
	width: 2.5em;
	height: 2.5em;
	margin-top: 1.4em;
	margin-right: 1em;
}
.to-do-items > label {
	font-size: 3em;
}
